.formHook {
    width: 80%;
    margin: auto;

    .form-floating {
        border-radius: 15px;
        box-shadow: 0 0 5px .5px var(--sombra);
        margin: 1rem;

        input, select {
            border-radius: 15px;
        }
    }

    .btnEnviar {
        width: 150px;
        border: none;
        color: var(--primario);
    }
}